a {
    color: white;
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

img.app-santa-claus {
    float: right;
    width: 50%;
}
